.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0 auto;
  padding: 10px 0 0;
  max-width: 880px;
  min-height: 340px;
}

.main-nav__wrapeer {
  order: 2;
}

.main-nav__toggle {
  display: none;
}

.main-nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include list(0);
  margin: 0 3px;

  border-bottom: 1px solid $white-limpid2;
}

.main-nav__item {
  margin: 10px 7.7%;

  &:first-child {
    margin-left: 1.2%;
  }

  &:last-child {
    margin-right: 1.2%;
  }
}

.main-nav__item-link {
  display: block;

  @include setFont(16px, 32px, 300);
  letter-spacing: -0.005em;
  text-align: center;
}

@media #{$tablet-only} {
  .main-nav {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;

    margin: auto;
    padding: 0;
    max-width: none;
    min-height: auto;
    z-index: 100;
  }

  .main-nav--opened {
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.main-nav--nojs {
      position: static;
    }
  }

  // исправляет bug в хроме - placeholder светится сквозь слой выпадающего меню
  // .main-nav--opened:not(.main-nav--nojs) ~ * *::placeholder {
  //   color: transparent;
  // }

  .main-nav__wrapeer {
    order: 1;
    display: flex;
    justify-content: space-between;
  }

  .main-nav__toggle {
    display: block;
    padding: 0;

    border: none;
    cursor: pointer;
  }

  .main-nav--closed .main-nav__toggle {
    @include size(50px, 50px);
    @include bgimg($turquoise, url("../img/icon-menu.svg"), $position: center center);
  }

  .main-nav--opened .main-nav__toggle {
    @include size(50px, 52px);
    @include bgimg($white, url("../img/icon-close.svg"), $position: center center);
    background-size: 22px 22px;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: block;
    order: 2;
    margin: 0;

    background-color: $white;
    border-bottom: none;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav__item {
    position: relative;
    margin: 30px 0;
    padding: 17px 35px 17px 16px;
    background-color: $smoke;

    a {
      color: $black4;

      &::after {
        @include pseudo();
        @include bgimg(transparent, url("../img/icon-right.svg"), $position: center center);
        @include size(25px, 25px);
        top: 17px;
        right: 16px;
      }

      &:hover,
      &:focus {
        color: $black;
      }

      &:active {
        color: $black;
        opacity: 0.4;
      }
    }

    &:first-child {
      margin: 30px 0;
    }

    &:last-child {
      margin: 30px 0;
    }
  }

  .main-nav__item-link {
    @include setFont(20px, 140%, normal);
    letter-spacing: 0;
    text-align: left;
  }
}

@media #{$mobile-only} {

}
