.page-header {
  min-height: 825px;

  @include bgimg(
    $black1,
    url("../img/Img-Bike-desktop@2x.png"),
    $position: center 0
  );
  background-size: cover;

  @media #{$retina} {
    background-image: url("../img/Img-Bike-desktop@2x.png");
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0;
  max-width: 880px;
}

.page-header__logo {
  display: block;

  img {
    display: block;

    @include size(68px, 21px);
  }
}

@media #{$tablet-only} {
  .page-header {
    min-height: auto;
    background-image: linear-gradient($black1 340px, $white 340px);
  }

  .page-header__wrapper {
    display: block;
    max-width: none;
  }

  .page-header__logo {
    padding: 25px 22px 4px;
  }
}

@media #{$mobile-only} {
  .page-header {
    background-image: linear-gradient($black1 319px, $white 319px);
  }

  .page-header__logo {
    padding: 25px 16px 4px;
  }
}
