.page-header {
  min-height: 825px;

  @include bgimg(
    $black1,
    url("../img/Img Bike-desktop@2x.jpg"),
    $position: center 0
  );
  background-size: cover;

  @media #{$retina} {
    background-image: url("../img/Img Bike-desktop@2x.jpg");
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0;
  max-width: 880px;
}

.page-header__logo {
  display: block;

  img {
    display: block;

    @include size(68px, 21px);
  }
}

@media #{$tablet-only} {
  .page-header {
    min-height: auto;
    background-image: url("../img/Img Bike-tablet@1x.jpg"),
      linear-gradient($black1 340px, $white 340px);

    @media #{$retina} {
      background-image: url("../img/Img Bike-tablet@2x.jpg");
    }
    //_ Может существует более красивое решение?
    // Мне не нравится растягивание изображения и фиксированная высота в 340px
    // background-size: 768px 340px, 100%;
    background-size: 100% 340px, 100%;
  }

  .page-header__wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    max-width: none;
  }

  .page-header__logo {
    padding: 25px 22px 4px;
  }
}

@media #{$mobile-only} {

}
