.page-header {

}

.page-header__wrapper {
  margin: 0 auto;
  padding: 0;
  // min-width: 720px;
  max-width: 880px;
}

.page-header__logo {
  display: block;

  img {
    display: block;

    @include size(68px, 21px);
  }
}
