.promo {
  padding: 30px 0 20px;
  width: 400px;

  h1 {
    margin: 0;
    padding-bottom: 25px;

    @include setFont(46px, 64px, bold);
    letter-spacing: -0.005em;
  }

  p {
    margin: 0;

    @include setFont(20px, 32px, 300);
    letter-spacing: -0.005em;
    color: $white-limpid8;
  }
}

@media #{$tablet-only} {

}

@media #{$mobile-only} {

}
