.promo {
  padding: 30px 0 20px;
  width: 400px;

  h1 {
    margin: 0;
    padding-bottom: 25px;

    @include setFont(46px, 64px, bold);
    letter-spacing: -0.005em;
  }

  p {
    margin: 0;

    @include setFont(20px, 32px, 300);
    letter-spacing: -0.005em;
    color: $white-limpid8;
  }
}

@media #{$tablet-only} {
  .promo {
    width: 100%;
    min-height: 340px;
    margin: -50px 0 0;
    padding: 135px 15.82% 10px;

    @include bgimg(
      $black1,
      url("../img/Img Bike-desktop@2x.jpg"),
      $position: center 0
    );
    background-size: cover;

    @media #{$retina} {
      background-image: url("../img/Img Bike-desktop@2x.jpg");
    }

    h1 {
      padding-bottom: 17px;

      @include setFont(30px, 42px, bold);
      text-align: center;
    }

    p {
      @include setFont(18px, 32px, 300);
      text-align: center;
      padding: 0 8.57%;
    }
  }
}

@media #{$mobile-only} {
  .promo {
    min-height: 390px;
    padding: 120px 5% 10px;

    @include bgimg($black1, url("../img/Img Bike-mobile@2x.jpg"));

    @media #{$retina} {
      background-image: url("../img/Img Bike-mobile@2x.jpg");
    }

    h1 {
      padding-bottom: 20px;
    }

    p {
      padding: 0;
    }
  }
}
