.select {
  margin-top: -17px;
  width: 327px;
}

.select__form {
  p {
    @include setFont(17px, 28px, 600);
    letter-spacing: -0.005em;
    color: $white;
    text-align: center;
  }
}

.select__group {
  margin: 0;
  padding: 0;
  border: none;

  p {
    margin: 0;
  }
}

.select__list {
  @include list(0);
  margin: 0;
}

.select__item {
  display: block;

  input {
    display: block;
    margin: 20px 0;
    padding: 12px 30px 10px;
    width: 100%;

    @include setFont(15px, 24px, normal);
    font-family: inherit;

    color: $black3;
    background: $white;
    border: 1px solid $light-gray;
    border-radius: 6px;

    &::placeholder {
      opacity: 0.5;
    }
  }
}

.select__button {
  width: 100%;
  margin-bottom: 20px;
}

@media #{$tablet-only} {
  .select {
    margin: 0 auto;
    padding: 70px 0 20px;
    width: 41.8%;
  }

  .select__form {
    p {
      padding-bottom: 10px;

      @include setFont(18px, 28px, 600);
      color: $black;
    }
  }

  .select__item {
    input {
      padding: 12px 20px 10px;
    }
  }
}

@media #{$mobile-only} {
  .select {
    width: 90%;
  }

  .select__form {
    p {
      padding-bottom: 0;
    }
  }

  .select__item {
    input {
      padding: 12px 26px 10px;
    }
  }
}
