.theme-dark {
  background: $black1;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
  }

  p,
  a {
    color: $white-limpid7;
  }

  a {
    &:hover,
    &:focus {
      color: $white;
    }

    &:active {
      color: $white;
      opacity: 0.4;
    }
  }
}
