//Цвета
$white: white;
$black: black;

// Размеры
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1023px;
$desktop-width: 1024px;
$desktop-width-max: 1170px;

//Медиа выражения
$mobile: "(min-width: #{$mobile-width})";
$tablet: "(min-width: #{$tablet-width})";
$desktop: "(min-width: #{$desktop-width})";

$mobile-only: "(max-width: #{$mobile-width-only})";
$tablet-only: "(max-width: #{$tablet-width-only})";

$retina-dppx: 1.5dppx;
$retina: "(min-resolution: #{$retina-dppx})";

// Desktop First
// @media #{$tablet-only} {
// }
// @media #{$mobile-only} {
// }

// Mobile first
// @media #{$tablet} {
// }
// @media #{$desktop} {
// }

// @media #{$retina} {
// }
