//Цвета
$white: white;
$white-limpid7: rgba(255, 255, 255, 0.7);
$white-limpid8: rgba(255, 255, 255, 0.8);
$white-limpid2: rgba(255, 255, 255, 0.2);
$black: black;
$black1: #131314;
$black2: #1f1f1f;
$black3: #1c1c1c;
$black4: #48494d;
$black-limpid7: rgba(0, 0, 0, 0.7);
$black3-limpid5: rgba(28, 28, 28, 0.5);
$light-gray: #c9ccd4;
$smoke: #f6f6f6;
$fog: #f6f7f9;
$turquoise: #0ad9c6;
$turquoise-darker: #30b4a8;

// Размеры
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1023px;
$desktop-width: 1024px;
$desktop-width-max: 1440px;

//Медиа выражения
$mobile: "(min-width: #{$mobile-width})";
$tablet: "(min-width: #{$tablet-width})";
$desktop: "(min-width: #{$desktop-width})";

$mobile-only: "(max-width: #{$mobile-width-only})";
$tablet-only: "(max-width: #{$tablet-width-only})";

$retina-dppx: 1.5dppx;
$retina: "(min-resolution: #{$retina-dppx})";

// Desktop First
// @media #{$tablet-only} {

// }

// @media #{$mobile-only} {

// }


// Mobile first
// @media #{$tablet} {

// }

// @media #{$desktop} {

// }


// @media #{$retina} {
// }
